[include fluidd.cfg]
[include shell_command.cfg]
# !Ender-5 Plus
# printer_size: 350x350x400
# version: 3.4
# This file contains pin mappings for the Creality Ender 5 Plus.
# Ender 5 Plus stock uses a Creality v2.2 board, similar to CR-20 Pro.
# To use this config, the firmware should be compiled for the AVR
# atmega2560.

# See docs/Config_Reference.md for a description of parameters.

###fluidd set
[virtual_sdcard]
path: /home/justin/printer_data/gcodes
# path: ~/gcode_files

[display_status]


[pause_resume]

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %} 

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  {% if "xyz" in printer.toolhead.homed_axes %}
    G91
    G1 Z4.5 F300
    G90
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}
    G28 X Y
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
    G1 Y{y_park} F2000
    M84
  CANCEL_PRINT_BASE

[gcode_macro print_bed_temp]
gcode:
    PRINT The current bed temperature is {printer.heater_bed.temperature}

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: ^PC0
position_endstop: 360
position_max: 360
position_min: 0
homing_speed: 100

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
diag_pin: PC0
driver_SGTHRS: 100
uart_address: 0
interpolate: true
sense_resistor: 0.110
run_current: 0.680 #0.75 #0.45
hold_current: 0.50
stealthchop_threshold: 999999
# uart_pin: PC11
# tx_pin: PC10
# uart_address: 0
# run_current: 0.580
# hold_current: 0.500
# stealthchop_threshold: 999999

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: ^PC1
position_endstop: 360
position_max: 360
position_min: 0
homing_speed: 100

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
diag_pin: PC1
driver_SGTHRS: 110
uart_address: 2
interpolate: true
sense_resistor: 0.110
run_current: 0.75 #0.57
hold_current: 0.50
stealthchop_threshold: 999999
# uart_pin: PC11
# tx_pin: PC10
# uart_address: 2
# run_current: 0.580
# hold_current: 0.500
# stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
full_steps_per_rotation: 200
position_max: 400
position_min: -5
homing_speed: 10.0

[idle_timeout]
timeout: 172800

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
interpolate: true
sense_resistor: 0.110
# run_current: 0.48
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999
# uart_pin: PC11
# tx_pin: PC10
# uart_address: 1
# interpolate: true
# run_current: 0.580
# hold_current: 0.500
# stealthchop_threshold: 999999

[verify_heater extruder]
#max_error: 120
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
check_gain_time: 130
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
#hysteresis: 5
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
#heating_gain: 2
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.


[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD1
microsteps: 16
# rotation_distance: 33.043023 #33.683 ## Original Ender
rotation_distance: 4.637 ## Orbiter
full_steps_per_rotation:   200 ## Orbiter

nozzle_diameter: 0.6 # 0.400
filament_diameter: 1.750
max_extrude_cross_section: 5 # for adaptive line purge
heater_pin: PC8
# sensor_type: EPCOS 100K B57560G104F
sensor_type: PT1000
pullup_resistor: 4700
# smooth_time: 10.0

sensor_pin: PA0
#control: pid
#pid_kp = 25.159
#pid_ki = 1.421
#pid_kd = 111.330
min_temp: 0
max_temp: 325
# pressure_advance: 0.543 # PLA+ 0.4mm retr 5.0mm
# pressure_advance: 0.7146 # PLA 0.4mm retr 0.75mm ##  Original Ender
pressure_advance: 0.05
pressure_advance_smooth_time: 0.02

# max_extrude_only_velocity: 150.0 ##  Original Ender
# max_extrude_only_accel: 5000.0 ##  Original Ender
max_extrude_only_velocity: 120 # <- for orbiter motor LDO-36STH20-1004AHG(XH)
max_extrude_only_accel:    800 # <- for orbiter motor LDO-36STH
max_extrude_only_distance: 500
min_extrude_temp: 190

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.85
hold_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0  
interpolate: False

##  Original Ender
# uart_pin: PC11
# tx_pin: PC10
# uart_address: 3
# interpolate: true
# run_current: 0.40 # 0.49
# hold_current: 0.31
# stealthchop_threshold: 999999


[firmware_retraction]
retract_length: .25
retract_speed: 130.0
unretract_extra_length: 0.0
unretract_speed: 130.0

[safe_z_home]
home_xy_position: 225, 180
speed: 100
z_hop: 10
z_hop_speed: 5

[bltouch]
sensor_pin: ^PC14
control_pin: PA1
pin_move_time: 0.675
stow_on_each_sample: false
# probe_with_touch_mode: true
pin_up_touch_mode_reports_triggered: false
speed: 100
lift_speed: 200
samples: 3
sample_retract_dist: 10
samples_tolerance_retries: 4
# x_offset: 0
# y_offset: -9
#z_offset: 2
# sensor_pin: PC14
# control_pin: PA1
x_offset: -56
y_offset: 8
# #z_offset: 0
# speed: 20


[bed_mesh]
speed: 150
horizontal_move_z: 8
mesh_min: 75, 75
mesh_max: 300, 300
probe_count: 5, 5

[bed_screws]
screw1: 350,320
screw1_name: back right
screw2: 80,320
screw2_name: back left
screw3: 80,80
screw3_name: front left
screw4: 350,80
screw4_name: front right

[screws_tilt_adjust]
screw1: 350,320
screw1_name: back right
screw2: 80,320
screw2_name: back left
screw3: 80,80
screw3_name: front left
screw4: 350,80
screw4_name: front right
horizontal_move_z: 10
speed: 150
screw_thread: CW-M4

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
#pid_kp = 65.864
#pid_ki = 0.706
#pid_kd = 1536.277
min_temp: 0
max_temp: 130

[heater_fan controller_fan]
pin: PB15
heater: heater_bed, extruder
heater_temp: 45.0
sensor_type: temperature_host
fan_speed: 1.0

[heater_fan nozzle_cooling_fan]
pin: PC7
max_power: 1.0
fan_speed: 1.0
heater: extruder
heater_temp: 50.0

[fan]
pin: PC6
max_power: 1.0
cycle_time: 0.0001
hardware_pwm: false
kick_start_time: 0.333
off_below: 0.10

# [mcu]
# serial: /dev/serial/by-id/usb_serial_1
[mcu]
serial: /dev/ttyAMA0
restart_method: command
baud: 250000

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

# [mcu rpi]
# serial: /tmp/klipper_host_mcu

# [adxl345]
# cs_pin: rpi:None
# spi_speed: 2000000
# spi_bus: spidev2.0
# [adxl345]

# [resonance_tester]
# accel_chip: adxl345
# accel_per_hz: 70
# probe_points: 150,150,10


[filament_switch_sensor filament_sensor]
pause_on_runout: true
switch_pin:PC15

[printer]
kinematics: cartesian
# max_velocity: 300
# max_accel: 3000
# max_accel_to_decel: 3000
# max_z_velocity: 10
# max_z_accel: 100
# square_corner_velocity: 20.0
max_velocity: 200
max_accel: 2000
max_z_velocity: 10
max_z_accel: 100
square_corner_velocity: 5.0

[exclude_object]


[include mmu_macro_vars.cfg]
[include mmu_form_tip.cfg]
[include KAMP_Settings.cfg]
# This file enables the use of adaptive meshing.
[include Adaptive_Meshing.cfg]
# This file enables the use of adaptive line purging.
[include Line_Purge.cfg]
[include Macros.cfg]
# [include timelapse.cfg]

[gcode_macro G29]	
gcode:
  G28
  bed_mesh_calibrate
  G1 X0 Y0 Z10 F4200

[gcode_arcs]
#resolution: 1.0

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100
[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[include moonraker_obico_macros.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 5.560
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.016250, 0.080417, 0.137500
#*# 	0.023750, 0.060833, 0.122083
#*# 	0.055417, 0.066667, 0.115833
#*# tension = 0.2
#*# min_x = 150.876
#*# algo = lagrange
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 164.567
#*# x_count = 3
#*# max_y = 185.42700000000002
#*# mesh_x_pps = 2
#*# max_x = 199.116
#*#
#*# [heater_bed]
#*# pid_kp = 65.172
#*# pid_ki = 0.836
#*# pid_kd = 1270.852
#*# control = pid
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 30.421
#*# pid_ki = 2.982
#*# pid_kd = 77.573
#*#
#*# [input_shaper]
#*# shaper_type_x = 2hump_ei
#*# shaper_freq_x = 70.8
#*# shaper_type_y = mzv
#*# shaper_freq_y = 48.6
#*#
#*# [bed_mesh glass]
#*# version = 1
#*# points =
#*# 	-0.290000, -0.172500, -0.116250, -0.205000, -0.350000
#*# 	-0.063750, -0.063750, -0.055000, -0.087500, -0.141250
#*# 	0.023750, 0.015000, 0.006250, -0.040000, -0.088750
#*# 	-0.045000, -0.053750, -0.026250, -0.042500, -0.072500
#*# 	-0.016250, -0.003750, -0.010000, -0.043750, -0.071250
#*# tension = 0.2
#*# min_x = 30.0
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 30.0
#*# x_count = 5
#*# max_y = 320.0
#*# mesh_x_pps = 2
#*# max_x = 290.0
