
[verify_heater extruder]
#max_error: 120
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
check_gain_time: 130
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
#hysteresis: 5
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
#heating_gain: 2
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.

[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD1
microsteps: 16
# rotation_distance: 33.043023 #33.683 ## Original Ender
rotation_distance: 4.637 ## Orbiter
full_steps_per_rotation:   200 ## Orbiter

nozzle_diameter: 0.6 # 0.400
filament_diameter: 1.750
max_extrude_cross_section: 5 # for adaptive line purge
heater_pin: PC8
# sensor_type: EPCOS 100K B57560G104F
sensor_type: PT1000
pullup_resistor: 4700
smooth_time: 10.0

sensor_pin: PA0
#control: pid
#pid_kp = 25.159
#pid_ki = 1.421
#pid_kd = 111.330
min_temp: 0
max_temp: 325
# pressure_advance: 0.543 # PLA+ 0.4mm retr 5.0mm
# pressure_advance: 0.7146 # PLA 0.4mm retr 0.75mm ##  Original Ender
pressure_advance: 0.05
pressure_advance_smooth_time: 0.02

# max_extrude_only_velocity: 150.0 ##  Original Ender
# max_extrude_only_accel: 5000.0 ##  Original Ender
max_extrude_only_velocity: 120 # <- for orbiter motor LDO-36STH20-1004AHG(XH)
max_extrude_only_accel:    800 # <- for orbiter motor LDO-36STH
max_extrude_only_distance: 500
min_extrude_temp: 190

[autotune_tmc extruder]
motor: moons-ms14hs5p4150
tuning_goal: performance  # default auto=silent

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.85
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0  
interpolate: True

##  Original Ender
# uart_pin: PC11
# tx_pin: PC10
# uart_address: 3
# interpolate: true
# run_current: 0.40 # 0.49
# hold_current: 0.31
# stealthchop_threshold: 999999


[firmware_retraction]
retract_length: .25
retract_speed: 130.0
unretract_extra_length: 0.0
unretract_speed: 130.0


[heater_fan nozzle_cooling_fan]
pin: PC7
max_power: 1.0
fan_speed: 1.0
heater: extruder
heater_temp: 50.0

[fan]
pin: PC6
max_power: 1.0
cycle_time: 0.0001
hardware_pwm: false
kick_start_time: 0.333
off_below: 0.10
